*{
    margin: 5px;
}
/* nav & banner part*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 248, 248);
    padding: 0px 30px 0px 150px;
}

.logo{
    font-size: 30px;
    font-weight: 800;
}
.logo-item{
    display: flex;
}
.logo-img{
    width: 30px;
}
.org-color{
    color: #fda604;
}
.li-item{
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    
}
.li-item a{
    text-decoration: none;
    margin-right: 30px;
    color: rgb(112, 109, 109);
    
}
.btn{
    border-radius: 5px;
    background-color:#fda604 ;
    color: white;
    border: 0;
    font-size: 18px;
    padding: 10px 15px;
}
.banner{
    padding: 30px 40px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 244, 246);
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}
.main-img{
    height: 400px;
    width: auto;
}
.banner-content{
    max-width: 500px;
}
.banner-head{
    font-size: 35px;
    color: rgb(106, 106, 96);
}
.banner-name{
    font-size: 75px;
    font-weight: 700;
}
.banner-paragraph{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
/* about part*/
.about{
    text-align: center;
    margin: 70px 100px 70px 100px;
    padding: 30px 100px 40px 100px;
    background-color: rgb(236, 221, 202);
}
.about-head{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}
.about-paragraph{
    font-size: 20px;
    font-weight: 500;
}
.about-info-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.about-info{
    padding-right: 15px;
}
/*what i do section*/

.what-i-do-head{
    text-align: center;
    margin: 30px 100px 40px 100px;
    padding: 20px 170px 10px 170px;
    background-color: rgb(219, 219, 232);
}
.skills-container{
    display: flex;
    margin: 0px 100px 70px 100px;
    padding: 20px 100px 40px 100px;
    
    
}
.skill{
    max-width:220px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(236, 229, 221);
    box-shadow: rgb(58, 56, 56);
}
.skill-description{
    padding: 20px;
    color: rgb(67, 58, 58);
}
/*Resume part*/
.resume-summary{
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}
.resume-container{
    display: flex;
    margin: 0px 100px 70px 100px;
    
}
.resume-column{
    padding: 0px 40px 20px 40px;
}
.resume-column-title{
    padding-bottom: 20px;
    text-decoration: underline;

}